<ion-view>
  <ion-header-bar class="bar-stable">
    <button class="button button-icon ion-pinpoint" ng-click="centerOnMe()"></button>
    <h1 class="title">Ionic Blank Starter</h1>
  </ion-header-bar>
  <ion-content>
    <button class="button button-large button-positive" ng-click="centerOnMe()">
      Find Monument
    </button>
    <!--<div class="card">-->
    <div class="row">
      <ion-item class="col col-50">
        <img ng-src="{{photo}}" />
        <div class="mapWrap"  data-tap-disabled="true">
          <map center="55.69273,12.599" zoom="7">
            <!-- ngRepeat: pos in positions -->
            <marker icon="/img/geo-icon.png" size="24" ng-repeat="pos in positions" position="{{pos.lat}},{{pos.lng}}"></marker>
          </map>
        </div>
      </ion-item>
      <div class="col">
        <ion-item class="wrap item-text-wrap" style="word-wrap: break-word; word-break: break-all;"> Monument: {{mon.monument.monument}}
          <div class="wrap item-text-wrap" style="word-wrap: break-word; word-break: break-all;">Description: {{mon.monument.description}}
          </div>
        </ion-item>
      </div>
    </div>
    <!--</div>-->




  </ion-content>

</ion-view>
